{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} - Quai Antique{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-4 mt-5">
            <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid"><hr></a>
        </div>
        <div class="col-md-8 mt-5">
            <h3>{{ product.name }}</h3>
            <p>{{ product.subtitle }}</p>
            <span class="product-page-price">{{ product.price / 100|number_format(2) }} €</span>
            <hr>
            <p>
                {{ product.description }}
            </p>
            <hr>
            <a href="{{ path('add_to_cart', {'id': product.id}) }}" class="btn btn-dark mt-3">Ajouter au panier <i class="fa fa-calendar"></i></a>
        </div>
    </div>
    </div>

{% endblock %}
